.header-wrapper {
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f94d00;
  }
  .header-menu-section,
  .header-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 18px;
    h1 {
      padding-left: 18px;
    }
  }

  .header-burger-icon {
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
  .header-bassket-icon {
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
  .header-title-section {
    color: white;
  }

  .menu-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-modal ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    :first-child {
      font-size: 22px;
    }
    :not(:first-child) {
      cursor: pointer;
    }
  }
  .header-language-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    cursor: pointer;
  }
  .header-language-changer {
    border: none;
    outline: none;
    padding: 3px;
    background-color: #f94d00;
    color: white;
    font-size: 19px;
  }
  .language-menu {
    width: 40px;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 2;
    background-color: white;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2px;
      cursor: pointer;
      color: #f94d00;
    }
  }
}
